@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background: #f2f2f2;
	margin: 0;
	padding: 0;
	font-family: 'sans-serif', Arial;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Century Gothic', Arial;
	font-weight: 100;
	margin:0;
	padding: 0;
}
#prisliste .right{
  border-left: 1px solid #cbd3bb;
  padding-left: 20px;
  height: 700px;
}

.tabell{
  border-radius: 10px;
  border: 1px solid #f2f2f2;
  border-top: 1px solid #cbd3bb;
  padding: 10px;
}

.tabell h1{
  font-weight: bold;
}
.tabell:hover{
  background-color: white;
  border: 1px solid #cbd3bb;
}


.info{
	padding-left: 300px;

}

/* Positioning classes */
.inside {
	width: 1000px;
	margin: 0 auto;
}

.center {
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.left {
	float:left;
}

.right {
	float:right;
}



/* Header section */
header {
	height: 142px;
	padding-top:30px; /*182 px total*/
}

header #logo {
	float:left;
}


header > nav {
	float:right;
}

header > nav > a {
	font-family: 'open_sansregular', 'sans-serif', Arial;
	color: #bac2aa;
	font-size: 17px;
	margin-left:10px;
	text-decoration: none;
}

header > nav > a.active {
	color: #646b57;
}

header > nav > a:hover {
	text-decoration: underline;
}

.active_nav_scroll {
	color: #EAF6D1 !important;
}


/* Header, Navigation scroll */
#navigation_scroll{
	position: fixed;
	top: 0;
	background-color: #9EAE7D;
	width: 100%;
	display: none;
	z-index: 10000;
}

#navigation_scroll header {
	height: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}

#navigation_scroll a {
	color: #cbd3bb;
}

#navigation_scroll a:hover {
	text-decoration: underline;
}

/* Slideshow (index) */
.arrow {
	margin-top: 155px;
}

#slideshow_container {
	width: 829px;
	border-radius: 5px;
	margin-left: 85px;
	margin-bottom: 10px;
}

#slideshow_container img {
	margin-top: 40px;
	border-radius: 5px;
}



/* Page title */
#title_banner{
	background: #cbd3bb;
	padding: 35px 0;
	margin-bottom:20px;
	width: 100%;
	text-align: right;
}

#title_banner h1 {
	color: #fff;
	font-size: 32px;
}



/* Main content */
section{
	color: #454545;
	width: 100%;
	min-width: 1000px;
}

#frontPageBanner {
	background: #cbd3bb;
	height: 341px;
	margin-bottom:20px;
	width: 100%;
}



/* Main content, Articles */
article {
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #e3e3e3;
	line-height: 25px;
	overflow: auto;}

.lighter {
	background: #f5f7f7;
}

article .text {
	width: 470px;
}

article img {
	width: 470px;
}


/* Footer */
.centerFooter{
	margin-left: 150px;
	float:left;
}

footer {
	background: #7a8070;
	padding-top: 50px;
	bottom: 0;
	height: 170px;
	min-width: 1000px;
}

footer a{
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-size: 17px;
	color: #CBD3BB;
}

footer a:hover{
  text-decoration: underline;
}

.contact{
	color: #CBD3BB;
	font-family: "Century Gothic", sans-serif;
	font-size: 20px;
}

.contact_info{
	font-family: Arial, sans-serif;
	color: #CBD3BB;
	font-size: 18px;
}



/*About*/
textarea {
   resize: none;
   width: 470px;
   height: 150px;
   border-color: #CBD3BB;
}

.inputField {
	width: 470px;
	border: 1px solid #CBD3BB;
}

#submit {
    background-color: #CBD3BB;
    border-radius:2px;
    width: 75px;
 	height: 30px;
    color: #fff;
    font-family: 'Century Gothic';
    font-size: 14px;
    cursor: pointer;
    border:none;
    float:right;
}

#submit:hover {
    background:#7a8070;
}

form input,textarea{
	border-radius: 2px;
}

#omOss {
	min-width: 0px;
	width: 470px;
}
