@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background: #f2f2f2;
	margin: 0;
	padding: 0;
	font-family: 'sans-serif', Arial;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Century Gothic';
	font-weight: 100;
	margin:0;
	padding: 0;
}

header {
	height: 142px;
	padding-top:40px; /*182 px total*/
}

header #logo {
	float:left;
}

header > nav {
	float:right;
}

header > nav > a {
	font-family: 'open_sansregular', 'sans-serif', Arial;
	color: #bac2aa;
	font-size: 17px;
	margin-left:10px;
	text-decoration: none;
}

header > nav > a.active {
	color: #646b57;
}

header > nav > a:hover {
	text-decoration: underline;
}

section{
	color: #454545;
	width: 100%;
}

#frontPageBanner {
	background: #cbd3bb;
	height: 341px;
	margin-bottom:20px;
}

.title_banner{
	background: #cbd3bb;
	height: 112px; 
	margin-bottom:20px;
}

.title_container{
	width: 450px;
	float:right;

}

.title_text{
	color: white;
	font-size: 32pt;
	vertical-align: middle;
	text-align: center;
	line-height: 112px;
}

.articles {
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #e3e3e3;
	line-height: 25px;
}


.article1 {
	
	margin: 0;
}

.article2 {
	background: #f5f7f7;
	margin: 0;
}

#article_1_behandlinger{
	height: 395px;
}

#article2Behandlinger{
	height: 415px;
}

.inside {
	width: 1000px;
	margin: 0 auto;
}

#inside_prisliste{
	width: 420px;
	margin-left: 255px;
}

.inside_behandlinger_text{
	width: 455px;
	margin-left: 110px;
}

#hotstone_article{
	margin-left: 680px;
	width: 480px;
}

#thai_massage{
	position: relative;
	bottom: 350px;
	left: 660px;
}

#hotstone{
	position: relative;
	bottom: 280px;
	left: 110px;
}

.arrow {
	margin-top: 155px;
}


#slideshow_container {
	width: 829px;
	border-radius: 5px;
	margin-left: 85px;
	margin-bottom: 10px;
}

#slideshow_container img {
	margin-top: 40px;
	border-radius: 5px;
}

.title_container{
	margin-top: 1px;
	/*border-radius: 5px;*/
}

.center {
	width: 100%;
	text-align: center;
	margin: 0 auto;
}
/*
.left {
	float:left;
}

.right {
	float:right;
}

footer {
	background: #7a8070;
	padding-top: 40px;
	bottom: 0;
	height: 120px;
}

.facebookLink{
	text-decoration: none;
	font-family: Arial Regular, sans-serif;
	font-size: 17pt;
	color: #B9BFB7;
	position: relative;
	bottom: 3.1px;
}*/

.left {
	float:left;
}

.right {
	float:right;
}

.centerFooter{
	margin-left: 150px;
	float:left;
}

footer {
	background: #7a8070;
	padding-top: 50px;
	bottom: 0;
	height: 170px;
	
}

.facebook_link{
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-size: 17px;
	color: #CBD3BB;
	position: relative;

}

.contact{
	color: #CBD3BB;
	font-family: "Century Gothic", sans-serif;
	font-size: 20px;
}

.contact_info{
	font-family: Arial, sans-serif;
	color: #CBD3BB;
	font-size: 18px;
}

/*
Table CSS
*/
table{
	border: 1px solid black;
	width: 75%;
	top: 30px;
	height: 450px;
	text-align: center;
	border-collapse: collapse;
	color: black;
	vertical-align: top;
}

td, tr{
	border: 1px solid;
	width: 50px;
	height: 30px;
}

th{
	width: 210px;
	height: 40px;

}

.table_container{

}

.shade{
	/*background-color: rgba(105, 255, 97, 0.11);*/
	background-color: #CBD3BB;

}

p{
	left: 40%;
}


